.noteFeed-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.addNote input{
    height: 30px;
    /* outline: none; */
    padding: 0 10px;
}
.addNote button{
    height: 30px;
    padding: 0 10px;
}
.noteFeed-container input{   
    font-family: sans-serif;
    font-size: 18px;
}
.note-feed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 10px;
}
.note-feed h3{
    font-family: sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}
.note-feed i{
    font-size: 20px;
    cursor: pointer;
}
.hide{
    display: none;
}
h1{
    font-family: sans-serif;
    margin-bottom: 10px;
}